In [7]:
import pandas as pd
import requests, json
from pprint import pprint

In [ ]:
# base url
base_url = 'https://fantasy.premierleague.com/api/'

# get data from the bootstrap static endpoint
r = requests.get(base_url+'bootstrap-static/').json()

In [13]:
# get player information
players = pd.json_normalize(r['elements'])
# get team information
teams = pd.json_normalize(r['teams'])
# get position information
positions = pd.json_normalize(r['element_types'])

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1200,1250,1130,1150,1220,1210,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1100,1160,1120,1140,1080,1100,2
2,94,0,None,3,0,Brentford,0,0,0,BRE,...,None,False,0,1010,1020,1020,1030,1020,1030,130
3,36,0,None,4,0,Brighton,0,0,0,BHA,...,None,False,0,1100,1130,1150,1190,1100,1130,131
4,90,0,None,5,0,Burnley,0,0,0,BUR,...,None,False,0,1060,1070,1040,1090,1040,1080,43

In [14]:
# join players to teams
df = pd.merge(
    left=players,
    right=teams,
    left_on='team',
    right_on='id'
)

# join player positions
df = df.merge(
    positions,
    left_on='element_type',
    right_on='id'
)

# rename columns
df = df.rename(
    columns={'name':'team_name', 'singular_name':'position_name'}
)

# show result
df[
    ['first_name', 'second_name', 'team_name', 'position_name']
].head()

   first_name second_name    team_name position_name
0       Bernd        Leno      Arsenal    Goalkeeper
1  Rúnar Alex   Rúnarsson      Arsenal    Goalkeeper
2        Karl        Hein      Arsenal    Goalkeeper
3       Aaron    Ramsdale      Arsenal    Goalkeeper
4         Jed       Steer  Aston Villa    Goalkeeper

In [15]:
from db import get_data

In [16]:
df = get_data()

In [5]:
from data import get_full_gw_hist, create_player_df

In [6]:
player_df =  create_player_df()

In [8]:
df = get_full_gw_hist(player_df)

100%|██████████| 567/567 [00:49<00:00, 11.57it/s]

In [9]:
df

      id_player   web_name  element  ...  selected  transfers_in  transfers_out
0             1       Leno        1  ...    153122             0              0
1             1       Leno        1  ...    144885          2627          28443
2             2  Rúnarsson        2  ...     91500             0              0
3             2  Rúnarsson        2  ...    105244          5814           5249
4           532       Hein      532  ...         0             0              0
...         ...        ...      ...  ...       ...           ...            ...
1115        446   Mosquera      446  ...      1991            36            477
1116        470  Ait Nouri      470  ...     44020             0              0
1117        470  Ait Nouri      470  ...     40898           727           5876
1118        549    Marques      549  ...         0             0              0
1119        549    Marques      549  ...     14604          6001           1061

[1120 rows x 33 columns]