In [2]:
import sys
sys.path.append('../')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from data import create_training_data
from db import get_data, get_season_history
%load_ext autoreload
%reload_ext autoreload

In [3]:
player_ids = (5,2,3)
seasons = get_season_history(player_id=player_ids)

Appended season history for player_id: 5
Appended season history for player_id: 2
Appended season history for player_id: 3

In [6]:
df = create_training_data()

version 1.1
Appended season history for player_id: 1
Appended season history for player_id: 2
Appended season history for player_id: 3
Appended season history for player_id: 4
Appended season history for player_id: 5
Appended season history for player_id: 6
Appended season history for player_id: 7
Appended season history for player_id: 8
Appended season history for player_id: 9
Appended season history for player_id: 10
Appended season history for player_id: 11
Appended season history for player_id: 12
Appended season history for player_id: 13
Appended season history for player_id: 14
Appended season history for player_id: 15
Appended season history for player_id: 16
Appended season history for player_id: 17
Appended season history for player_id: 18
Appended season history for player_id: 20
Appended season history for player_id: 21
Appended season history for player_id: 22
Appended season history for player_id: 23
Appended season history for player_id: 24
Appended season history for player_id: 25
Appended season history for player_id: 26
Appended season history for player_id: 27
Appended season history for player_id: 67
Appended season history for player_id: 466
Appended season history for player_id: 478
Appended season history for player_id: 530
Appended season history for player_id: 531
Appended season history for player_id: 532
Appended season history for player_id: 558
Appended season history for player_id: 559
Appended season history for player_id: 572
Appended season history for player_id: 590
Appended season history for player_id: 28
Appended season history for player_id: 29
Appended season history for player_id: 30
Appended season history for player_id: 31
Appended season history for player_id: 32
Appended season history for player_id: 34
Appended season history for player_id: 35
Appended season history for player_id: 36
Appended season history for player_id: 37
Appended season history for player_id: 38
Appended season history for player_id: 39
Appended season history for player_id: 40
Appended season history for player_id: 41
Appended season history for player_id: 42
Appended season history for player_id: 43
Appended season history for player_id: 44
Appended season history for player_id: 45
Appended season history for player_id: 46
Appended season history for player_id: 47
Appended season history for player_id: 48
Appended season history for player_id: 49
Appended season history for player_id: 50
Appended season history for player_id: 51
Appended season history for player_id: 52
Appended season history for player_id: 283
Appended season history for player_id: 337
Appended season history for player_id: 492
Appended season history for player_id: 496
Appended season history for player_id: 497
Appended season history for player_id: 526
Appended season history for player_id: 568
Appended season history for player_id: 76
Appended season history for player_id: 77
Appended season history for player_id: 78
Appended season history for player_id: 79
Appended season history for player_id: 80
Appended season history for player_id: 81
Appended season history for player_id: 82
Appended season history for player_id: 83
Appended season history for player_id: 84
Appended season history for player_id: 85
Appended season history for player_id: 86
Appended season history for player_id: 87
Appended season history for player_id: 88
Appended season history for player_id: 89
Appended season history for player_id: 90
Appended season history for player_id: 91
Appended season history for player_id: 92
Appended season history for player_id: 93
Appended season history for player_id: 94
Appended season history for player_id: 95
Appended season history for player_id: 96
Appended season history for player_id: 97
Appended season history for player_id: 479
Appended season history for player_id: 483
Appended season history for player_id: 498
Appended season history for player_id: 499
Appended season history for player_id: 524
Appended season history for player_id: 556
Appended season history for player_id: 569
Appended season history for player_id: 53
Appended season history for player_id: 54
Appended season history for player_id: 55
Appended season history for player_id: 56
Appended season history for player_id: 57
Appended season history for player_id: 58
Appended season history for player_id: 59
Appended season history for player_id: 60
Appended season history for player_id: 61
Appended season history for player_id: 62
Appended season history for player_id: 63
Appended season history for player_id: 64
Appended season history for player_id: 65
Appended season history for player_id: 66
Appended season history for player_id: 68
Appended season history for player_id: 69
Appended season history for player_id: 70
Appended season history for player_id: 71
Appended season history for player_id: 72
Appended season history for player_id: 73
Appended season history for player_id: 74
Appended season history for player_id: 75
Appended season history for player_id: 447
Appended season history for player_id: 462
Appended season history for player_id: 476
Appended season history for player_id: 500
Appended season history for player_id: 535
Appended season history for player_id: 536
Appended season history for player_id: 537
Appended season history for player_id: 538
Appended season history for player_id: 560
Appended season history for player_id: 584
Appended season history for player_id: 98
Appended season history for player_id: 99
Appended season history for player_id: 100
Appended season history for player_id: 101
Appended season history for player_id: 102
Appended season history for player_id: 103
Appended season history for player_id: 104
Appended season history for player_id: 105
Appended season history for player_id: 106
Appended season history for player_id: 107
Appended season history for player_id: 108
Appended season history for player_id: 109
Appended season history for player_id: 110
Appended season history for player_id: 111
Appended season history for player_id: 112
Appended season history for player_id: 113
Appended season history for player_id: 114
Appended season history for player_id: 115
Appended season history for player_id: 116
Appended season history for player_id: 117
Appended season history for player_id: 118
Appended season history for player_id: 451
Appended season history for player_id: 480
Appended season history for player_id: 533
Appended season history for player_id: 534
Appended season history for player_id: 565
Appended season history for player_id: 575
Appended season history for player_id: 578
Appended season history for player_id: 585
Appended season history for player_id: 119
Appended season history for player_id: 120
Appended season history for player_id: 121
Appended season history for player_id: 122
Appended season history for player_id: 123
Appended season history for player_id: 124
Appended season history for player_id: 125
Appended season history for player_id: 126
Appended season history for player_id: 127
Appended season history for player_id: 129
Appended season history for player_id: 130
Appended season history for player_id: 131
Appended season history for player_id: 132
Appended season history for player_id: 133
Appended season history for player_id: 134
Appended season history for player_id: 135
Appended season history for player_id: 136
Appended season history for player_id: 137
Appended season history for player_id: 138
Appended season history for player_id: 139
Appended season history for player_id: 140
Appended season history for player_id: 141
Appended season history for player_id: 142
Appended season history for player_id: 143
Appended season history for player_id: 501
Appended season history for player_id: 527
Appended season history for player_id: 529
Appended season history for player_id: 539
Appended season history for player_id: 592
Appended season history for player_id: 144
Appended season history for player_id: 146
Appended season history for player_id: 147
Appended season history for player_id: 148
Appended season history for player_id: 149
Appended season history for player_id: 150
Appended season history for player_id: 151
Appended season history for player_id: 152
Appended season history for player_id: 153
Appended season history for player_id: 154
Appended season history for player_id: 155
Appended season history for player_id: 156
Appended season history for player_id: 157
Appended season history for player_id: 158
Appended season history for player_id: 159
Appended season history for player_id: 160
Appended season history for player_id: 161
Appended season history for player_id: 162
Appended season history for player_id: 386
Appended season history for player_id: 464
Appended season history for player_id: 474
Appended season history for player_id: 477
Appended season history for player_id: 488
Appended season history for player_id: 493
Appended season history for player_id: 540
Appended season history for player_id: 541
Appended season history for player_id: 542
Appended season history for player_id: 543
Appended season history for player_id: 561
Appended season history for player_id: 586
Appended season history for player_id: 163
Appended season history for player_id: 164
Appended season history for player_id: 165
Appended season history for player_id: 166
Appended season history for player_id: 167
Appended season history for player_id: 168
Appended season history for player_id: 169
Appended season history for player_id: 170
Appended season history for player_id: 171
Appended season history for player_id: 172
Appended season history for player_id: 173
Appended season history for player_id: 174
Appended season history for player_id: 175
Appended season history for player_id: 176
Appended season history for player_id: 177
Appended season history for player_id: 178
Appended season history for player_id: 179
Appended season history for player_id: 180
Appended season history for player_id: 181
Appended season history for player_id: 481
Appended season history for player_id: 482
Appended season history for player_id: 484
Appended season history for player_id: 502
Appended season history for player_id: 503
Appended season history for player_id: 504
Appended season history for player_id: 544
Appended season history for player_id: 545
Appended season history for player_id: 564
Appended season history for player_id: 570
Appended season history for player_id: 571
Appended season history for player_id: 591
Appended season history for player_id: 200
Appended season history for player_id: 201
Appended season history for player_id: 202
Appended season history for player_id: 203
Appended season history for player_id: 204
Appended season history for player_id: 205
Appended season history for player_id: 206
Appended season history for player_id: 207
Appended season history for player_id: 208
Appended season history for player_id: 209
Appended season history for player_id: 210
Appended season history for player_id: 211
Appended season history for player_id: 212
Appended season history for player_id: 213
Appended season history for player_id: 214
Appended season history for player_id: 215
Appended season history for player_id: 216
Appended season history for player_id: 217
Appended season history for player_id: 218
Appended season history for player_id: 219
Appended season history for player_id: 220
Appended season history for player_id: 340
Appended season history for player_id: 455
Appended season history for player_id: 458
Appended season history for player_id: 473
Appended season history for player_id: 505
Appended season history for player_id: 573
Appended season history for player_id: 587
Appended season history for player_id: 182
Appended season history for player_id: 183
Appended season history for player_id: 184
Appended season history for player_id: 185
Appended season history for player_id: 186
Appended season history for player_id: 187
Appended season history for player_id: 188
Appended season history for player_id: 189
Appended season history for player_id: 190
Appended season history for player_id: 191
Appended season history for player_id: 192
Appended season history for player_id: 193
Appended season history for player_id: 194
Appended season history for player_id: 195
Appended season history for player_id: 196
Appended season history for player_id: 197
Appended season history for player_id: 198
Appended season history for player_id: 199
Appended season history for player_id: 267
Appended season history for player_id: 287
Appended season history for player_id: 463
Appended season history for player_id: 490
Appended season history for player_id: 550
Appended season history for player_id: 551
Appended season history for player_id: 552
Appended season history for player_id: 562
Appended season history for player_id: 563
Appended season history for player_id: 576
Appended season history for player_id: 577
Appended season history for player_id: 221
Appended season history for player_id: 222
Appended season history for player_id: 223
Appended season history for player_id: 224
Appended season history for player_id: 225
Appended season history for player_id: 226
Appended season history for player_id: 227
Appended season history for player_id: 228
Appended season history for player_id: 229
Appended season history for player_id: 230
Appended season history for player_id: 231
Appended season history for player_id: 232
Appended season history for player_id: 233
Appended season history for player_id: 234
Appended season history for player_id: 235
Appended season history for player_id: 236
Appended season history for player_id: 237
Appended season history for player_id: 238
Appended season history for player_id: 239
Appended season history for player_id: 240
Appended season history for player_id: 241
Appended season history for player_id: 242
Appended season history for player_id: 243
Appended season history for player_id: 244
Appended season history for player_id: 245
Appended season history for player_id: 246
Appended season history for player_id: 247
Appended season history for player_id: 248
Appended season history for player_id: 506
Appended season history for player_id: 553
Appended season history for player_id: 33
Appended season history for player_id: 249
Appended season history for player_id: 250
Appended season history for player_id: 251
Appended season history for player_id: 252
Appended season history for player_id: 253
Appended season history for player_id: 254
Appended season history for player_id: 255
Appended season history for player_id: 256
Appended season history for player_id: 257
Appended season history for player_id: 258
Appended season history for player_id: 259
Appended season history for player_id: 260
Appended season history for player_id: 261
Appended season history for player_id: 262
Appended season history for player_id: 263
Appended season history for player_id: 264
Appended season history for player_id: 265
Appended season history for player_id: 266
Appended season history for player_id: 268
Appended season history for player_id: 453
Appended season history for player_id: 507
Appended season history for player_id: 508
Appended season history for player_id: 566
Appended season history for player_id: 269
Appended season history for player_id: 270
Appended season history for player_id: 271
Appended season history for player_id: 272
Appended season history for player_id: 273
Appended season history for player_id: 274
Appended season history for player_id: 275
Appended season history for player_id: 276
Appended season history for player_id: 277
Appended season history for player_id: 278
Appended season history for player_id: 279
Appended season history for player_id: 280
Appended season history for player_id: 281
Appended season history for player_id: 282
Appended season history for player_id: 284
Appended season history for player_id: 285
Appended season history for player_id: 286
Appended season history for player_id: 288
Appended season history for player_id: 289
Appended season history for player_id: 459
Appended season history for player_id: 485
Appended season history for player_id: 509
Appended season history for player_id: 510
Appended season history for player_id: 511
Appended season history for player_id: 512
Appended season history for player_id: 555
Appended season history for player_id: 579
Appended season history for player_id: 19
Appended season history for player_id: 291
Appended season history for player_id: 292
Appended season history for player_id: 293
Appended season history for player_id: 294
Appended season history for player_id: 295
Appended season history for player_id: 296
Appended season history for player_id: 297
Appended season history for player_id: 298
Appended season history for player_id: 299
Appended season history for player_id: 300
Appended season history for player_id: 301
Appended season history for player_id: 302
Appended season history for player_id: 303
Appended season history for player_id: 304
Appended season history for player_id: 305
Appended season history for player_id: 306
Appended season history for player_id: 307
Appended season history for player_id: 308
Appended season history for player_id: 309
Appended season history for player_id: 310
Appended season history for player_id: 311
Appended season history for player_id: 312
Appended season history for player_id: 465
Appended season history for player_id: 513
Appended season history for player_id: 514
Appended season history for player_id: 145
Appended season history for player_id: 290
Appended season history for player_id: 313
Appended season history for player_id: 314
Appended season history for player_id: 315
Appended season history for player_id: 316
Appended season history for player_id: 317
Appended season history for player_id: 318
Appended season history for player_id: 319
Appended season history for player_id: 320
Appended season history for player_id: 321
Appended season history for player_id: 322
Appended season history for player_id: 323
Appended season history for player_id: 324
Appended season history for player_id: 325
Appended season history for player_id: 326
Appended season history for player_id: 327
Appended season history for player_id: 328
Appended season history for player_id: 329
Appended season history for player_id: 330
Appended season history for player_id: 331
Appended season history for player_id: 448
Appended season history for player_id: 449
Appended season history for player_id: 456
Appended season history for player_id: 457
Appended season history for player_id: 471
Appended season history for player_id: 515
Appended season history for player_id: 516
Appended season history for player_id: 528
Appended season history for player_id: 580
Appended season history for player_id: 581
Appended season history for player_id: 332
Appended season history for player_id: 333
Appended season history for player_id: 334
Appended season history for player_id: 335
Appended season history for player_id: 336
Appended season history for player_id: 338
Appended season history for player_id: 339
Appended season history for player_id: 341
Appended season history for player_id: 342
Appended season history for player_id: 343
Appended season history for player_id: 344
Appended season history for player_id: 345
Appended season history for player_id: 346
Appended season history for player_id: 347
Appended season history for player_id: 348
Appended season history for player_id: 349
Appended season history for player_id: 350
Appended season history for player_id: 351
Appended season history for player_id: 460
Appended season history for player_id: 491
Appended season history for player_id: 517
Appended season history for player_id: 518
Appended season history for player_id: 519
Appended season history for player_id: 525
Appended season history for player_id: 546

In [9]:
len(df[0])

592

In [8]:
season = df[1]

In [10]:
print(season.columns)

Index(['season_name', 'element_code', 'start_cost', 'end_cost', 'total_points',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index'],
      dtype='object')

In [5]:
data = get_data()

In [24]:
current_players = data[0]
# Player form + ability:
variables_to_keep = ['id', 'team', 'team_code', 'ict_index', 'bps', 'minutes', 'points_per_game', 'form', 'now_cost'] # should be able to change this in a config file
current_players = current_players[variables_to_keep]

In [30]:
teams = data[1]

In [10]:
import os
path = os.getcwd()

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\Users\\magnu\\OneDrive - Norges Handelshøyskole\\Personlig\\python_projects\\fantasyAI\\notebooks\\..\\data_files\\2020-21\\understat\\fixtures.csv'

In [4]:
type(os.path.join(path, "data_files", "master_team_list.csv"))

NameError: name 'path' is not defined

In [3]:
from data import transform_id_to_team

In [4]:
data = transform_id_to_team("2016-17")

In [15]:
data[["team", "team_name"]]

    team       team_name
0      1         Arsenal
1      2     Bournemouth
2      3         Burnley
3      4         Chelsea
4      5  Crystal Palace
..   ...             ...
95    16     Southampton
96    17           Spurs
97    18       West Brom
98    19        West Ham
99    20          Wolves

[100 rows x 2 columns]

In [4]:
wdPATH = os.getcwd()

with open(os.path.join(wdPATH, "..", "data_files", "2020-21", "gws", "merged_gw.csv")) as file:
    gw1 = pd.read_csv(file)

In [7]:
gw1[["total_points"]].describe()

       total_points
count  24365.000000
mean       1.290704
std        2.472389
min       -7.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       24.000000

In [31]:
with open(os.path.join(wdPATH, "..", "data_files", "2020-21", "fixtures.csv")) as file:
    fixture_df = pd.read_csv(file)

In [32]:
fixture_df

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,True,1,3,8,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,58898
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,True,16,0,6,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,58897
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,True,10,3,11,4,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,58899
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,True,14,2,19,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,58903
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,True,9,3,18,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,58902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2128661,38,True,True,374,2021-05-23T15:00:00Z,90,False,True,6,0,11,2,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,59271
376,2128662,38,True,True,375,2021-05-23T15:00:00Z,90,False,True,7,0,12,5,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",4,5,59272
377,2128663,38,True,True,376,2021-05-23T15:00:00Z,90,False,True,4,0,15,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,59273
378,2128664,38,True,True,377,2021-05-23T15:00:00Z,90,False,True,16,0,19,3,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,59274
379,2128665,38,True,True,378,2021-05-23T15:00:00Z,90,False,True,13,2,20,1,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,3,59275

In [33]:
gw1[["round"]]

       round
0          1
1          1
2          1
3          1
4          1
...      ...
24360     38
24361     38
24362     38
24363     38
24364     38

[24365 rows x 1 columns]

In [26]:
with open(os.path.join(wdPATH, "..", "data_files", "2019-20", "gws", "merged_gw.csv")) as file:
    gw1920 = pd.read_csv(file)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 34356: character maps to <undefined>

In [17]:
import glob

TypeError: 'str' object is not callable

In [ ]:
df

In [12]:
print(gw1.columns)

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards'],
      dtype='object')

In [7]:
data.loc[data["season"] == "2016-17"]

     season  team       team_name
0   2016-17     1         Arsenal
1   2016-17     2     Bournemouth
2   2016-17     3         Burnley
3   2016-17     4         Chelsea
4   2016-17     5  Crystal Palace
5   2016-17     6         Everton
6   2016-17     7            Hull
7   2016-17     8       Leicester
8   2016-17     9       Liverpool
9   2016-17    10        Man City
10  2016-17    11         Man Utd
11  2016-17    12   Middlesbrough
12  2016-17    13     Southampton
13  2016-17    14           Stoke
14  2016-17    15      Sunderland
15  2016-17    16         Swansea
16  2016-17    17           Spurs
17  2016-17    18         Watford
18  2016-17    19       West Brom
19  2016-17    20        West Ham

In [5]:
transform_id_to_team("2016-17")

FileNotFoundError: [Errno 2] No such file or directory: 'c:/data_files\\master_team_list.csv'

In [10]:
path = os.getcwd()
df = pd.read_csv("C:/Users/magnu/OneDrive - Norges Handelshøyskole/Personlig/python_projects/fantasyAI/data_files/master_team_list.csv")

In [11]:
df =

     season  team       team_name
0   2016-17     1         Arsenal
1   2016-17     2     Bournemouth
2   2016-17     3         Burnley
3   2016-17     4         Chelsea
4   2016-17     5  Crystal Palace
..      ...   ...             ...
95  2020-21    16     Southampton
96  2020-21    17           Spurs
97  2020-21    18       West Brom
98  2020-21    19        West Ham
99  2020-21    20          Wolves

[100 rows x 3 columns]

In [33]:
teams

    id            name
0    1         Arsenal
1    2     Aston Villa
2    3       Brentford
3    4        Brighton
4    5         Burnley
5    6         Chelsea
6    7  Crystal Palace
7    8         Everton
8    9       Leicester
9   10           Leeds
10  11       Liverpool
11  12        Man City
12  13         Man Utd
13  14       Newcastle
14  15         Norwich
15  16     Southampton
16  17           Spurs
17  18         Watford
18  19        West Ham
19  20          Wolves

In [21]:
current_players.sort_values(by=['ict_index'], ascending=False)

      id  team ict_index  bps  minutes points_per_game form  now_cost
254  207     9       9.9   59      190             5.0  5.0        55
45    38     2       9.9   59      180             7.5  5.0        50
75    84     3       9.8   37      264             2.3  2.3        50
419  319    15       9.8   44      270             0.7  0.7        45
157  119     6       9.8   66      246             4.7  4.7        60
..   ...   ...       ...  ...      ...             ...  ...       ...
261  214     9       0.0    0        0             0.0  0.0        45
253  206     9       0.0    0        0             0.0  0.0        49
251  204     9       0.0    0        0             0.0  0.0        40
250  203     9       0.0    0        0             0.0  0.0        44
591  583    20       0.0    0        0             0.0  0.0        55

[592 rows x 8 columns]

In [17]:
player_ids

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 67,
 466,
 478,
 530,
 531,
 532,
 558,
 559,
 572,
 590,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 283,
 337,
 492,
 496,
 497,
 526,
 568,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 479,
 483,
 498,
 499,
 524,
 556,
 569,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 447,
 462,
 476,
 500,
 535,
 536,
 537,
 538,
 560,
 584,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 451,
 480,
 533,
 534,
 565,
 575,
 578,
 585,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 501,
 527,
 529,
 539,
 592,
 144,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 386,
 464,
 474,
 477,
 488,
 493,
 540,
 541,
 542,
 543,
 561,
 586,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 481,
 482,
 484,
 502,
 503,
 504,
 544,
 545,
 564,
 570,
 571,
 591,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 340,
 455,
 458,
 473,
 505,
 573,
 587,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 267,
 287,
 463,
 490,
 550,
 551,
 552,
 562,
 563,
 576,
 577,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 506,
 553,
 33,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 268,
 453,
 507,
 508,
 566,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 284,
 285,
 286,
 288,
 289,
 459,
 485,
 509,
 510,
 511,
 512,
 555,
 579,
 19,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 465,
 513,
 514,
 145,
 290,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 448,
 449,
 456,
 457,
 471,
 515,
 516,
 528,
 580,
 581,
 332,
 333,
 334,
 335,
 336,
 338,
 339,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 460,
 491,
 517,
 518,
 519,
 525,
 546,
 567,
 352,
 353,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 486,
 487,
 494,
 520,
 588,
 354,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 450,
 454,
 467,
 468,
 469,
 472,
 495,
 557,
 574,
 128,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 489,
 521,
 522,
 554,
 582,
 589,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 452,
 461,
 470,
 475,
 523,
 547,
 548,
 549,
 583]

In [19]:
fixture_df = data[3]
    # Get upcoming gameweek:
current_gw = fixture_df.loc[fixture_df["finished"] == True]
current_gw = current_gw.sort_values(by = ["event"], ascending=False)
current_gw = current_gw.iloc[0][1]

In [24]:
upcoming_gw = current_gw + 1

In [25]:
fixture_df = fixture_df.loc[fixture_df['event'] == upcoming_gw]

In [41]:
fixture_df = data[3].loc[data[3]['event'] == upcoming_gw]

In [34]:
fixture_df

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
30,2210304,4,False,False,34,2021-09-11T11:30:00Z,0,False,False,17,NaN,7,NaN,[],3,2,66375
31,2210301,4,False,False,31,2021-09-11T14:00:00Z,0,False,False,15,NaN,1,NaN,[],2,3,66372
32,2210302,4,False,False,32,2021-09-11T14:00:00Z,0,False,False,4,NaN,3,NaN,[],2,2,66373
33,2210307,4,False,False,37,2021-09-11T14:00:00Z,0,False,False,12,NaN,9,NaN,[],4,3,66378
34,2210308,4,False,False,38,2021-09-11T14:00:00Z,0,False,False,14,NaN,13,NaN,[],2,4,66379
35,2210309,4,False,False,39,2021-09-11T14:00:00Z,0,False,False,19,NaN,16,NaN,[],3,2,66380
36,2210310,4,False,False,40,2021-09-11T14:00:00Z,0,False,False,20,NaN,18,NaN,[],2,2,66381
37,2210303,4,False,False,33,2021-09-11T16:30:00Z,0,False,False,2,NaN,6,NaN,[],2,4,66374
38,2210306,4,False,False,36,2021-09-12T15:30:00Z,0,False,False,11,NaN,10,NaN,[],4,3,66377
39,2210305,4,False,False,35,2021-09-13T19:00:00Z,0,False,False,5,NaN,8,NaN,[],2,3,66376

In [42]:
fixture_df = fixture_df[["team_a", "team_h", "team_h_difficulty", "team_a_difficulty"]]

In [43]:
fixture_df

    team_a  team_h  team_h_difficulty  team_a_difficulty
30      17       7                  3                  2
31      15       1                  2                  3
32       4       3                  2                  2
33      12       9                  4                  3
34      14      13                  2                  4
35      19      16                  3                  2
36      20      18                  2                  2
37       2       6                  2                  4
38      11      10                  4                  3
39       5       8                  2                  3

In [48]:
fixture_a = fixture_df[["team_a", "team_a_difficulty"]]
fixture_a = fixture_a.rename(columns={'team_a': 'team', 'team_a_difficulty': 'fdr'})
fixture_h = fixture_df[["team_h", "team_h_difficulty"]]
fixture_h = fixture_h.rename(columns={'team_h': 'team', 'team_h_difficulty': 'fdr'})

In [49]:
fixture_difficulty = fixture_a.append(fixture_h)

In [50]:
fixture_difficulty

    team  fdr
30    17    2
31    15    3
32     4    2
33    12    3
34    14    4
35    19    2
36    20    2
37     2    4
38    11    3
39     5    3
30     7    3
31     1    2
32     3    2
33     9    4
34    13    2
35    16    3
36    18    2
37     6    2
38    10    4
39     8    2

In [52]:
main_df = pd.merge(current_players, fixture_difficulty, how="left", on='team')

In [56]:
main_df

      id  team ict_index  bps  minutes points_per_game form  now_cost  fdr
0      1     1       7.9   48      270             1.3  1.3        49    2
1      2     1       0.0    0        0             0.0  0.0        40    2
2      3     1       0.0    0        0             0.0  0.0        63    2
3      4     1       2.6    5       87             1.0  0.7        99    2
4      5     1       4.3   16      180             0.0  0.0        44    2
..   ...   ...       ...  ...      ...             ...  ...       ...  ...
587  523    20       0.0    0        0             0.0  0.0        50    2
588  547    20       0.0    0        0             0.0  0.0        45    2
589  548    20       0.0    0        0             0.0  0.0        45    2
590  549    20       0.0    0        0             0.0  0.0        40    2
591  583    20       0.0    0        0             0.0  0.0        55    2

[592 rows x 9 columns]

In [38]:
fixture_difficulty

   team_a           variable  value
0      17  team_a_difficulty      2
1      15  team_a_difficulty      3
2       4  team_a_difficulty      2
3      12  team_a_difficulty      3
4      14  team_a_difficulty      4
5      19  team_a_difficulty      2
6      20  team_a_difficulty      2
7       2  team_a_difficulty      4
8      11  team_a_difficulty      3
9       5  team_a_difficulty      3

In [10]:
from data import get_full_gw_hist

In [4]:
current_players

NameError: name 'current_players' is not defined

In [9]:
gw_hist = get_full_gw_hist(current_players)

100%|██████████| 592/592 [00:50<00:00, 11.80it/s]

KeyError: "['singular_name_short', 'web_name'] not in index"