In [1]:
import sys
sys.path.append('../')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from data import create_training_data
from db import get_data, get_season_history
%load_ext autoreload
%reload_ext autoreload

In [3]:
from pipeline import run_model_training

In [2]:
from sklearn import datasets

In [3]:
X, y = datasets.load_iris(return_X_y=True)

In [8]:
import pandas as pd

In [9]:
X = pd.DataFrame(X)

In [33]:
import optuna  # pip install optuna
from sklearn.metrics import log_loss
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.model_selection import train_test_split
import numpy as np

In [4]:
df = create_training_data("2020-21")

test data version 0.1 stable

In [5]:
from pipeline import run_model_training

In [6]:
df

,name,ict_index,bps,minutes,now_cost,team_id,fdr,event_points
0,Aaron Connolly,3.4,-3,45,55,3,4,1
1,Aaron Cresswell,2.2,11,90,50,19,2,1
2,Aaron Mooy,0.0,0,0,50,3,4,0
3,Aaron Ramsdale,1.8,12,90,50,15,2,1
4,Abdoulaye DoucourÃ©,6.9,20,90,55,7,4,3
...,...,...,...,...,...,...,...,...
27390,Aaron Ramsdale,3.2,30,90,46,15,2,9
27391,Adrien Silva,0.0,0,0,44,9,3,0
27392,Sidnei Tavares,0.0,0,0,44,9,3,0
27393,Kalvin Phillips,6.1,17,90,49,10,2,6
27394,Raphael Dias Belloli,12.9,24,90,56,10,2,5

In [51]:

df2 = df.drop(df.columns[0], axis=1)

In [52]:
df2

       ict_index  bps  minutes  now_cost  team_id  fdr  event_points
0            3.4   -3       45        55        3    4             1
1            2.2   11       90        50       19    2             1
2            0.0    0        0        50        3    4             0
3            1.8   12       90        50       15    2             1
4            6.9   20       90        55        7    4             3
...          ...  ...      ...       ...      ...  ...           ...
27390        3.2   30       90        46       15    2             9
27391        0.0    0        0        44        9    3             0
27392        0.0    0        0        44        9    3             0
27393        6.1   17       90        49       10    2             6
27394       12.9   24       90        56       10    2             5

[27395 rows x 7 columns]

In [7]:
model1 = run_model_training(df)

[I 2021-09-06 10:42:28,640] A new study created in memory with name: LGBM Regressor
C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\optuna\distributions.py:548: UserWarning: The distribution is specified by [0.2, 0.95] and q=0.1, but the range is not divisible by `q`. It will be replaced by [0.2, 0.9].
  low=low, old_high=old_high, high=high, step=q
[W 2021-09-06 10:42:28,690] Trial 0 failed because of the following error: ValueError('The entry associated with the validation name "valid_0" and the metric name "mean_squared_error" is not found in the evaluation result list [(\'valid_0\', \'l2\', 7.795062039962737, False)].')
Traceback (most recent call last):
  File "C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\optuna\study\_optimize.py", line 213, in _run_trial
    value_or_values = func(trial)
  File "..\pipeline.py", line 148, in <lambda>
    func = lambda trial: objective(trial, X, y)
  File "..\pipeline.py", line 131, in objective
    LightGBMPruningCallback(trial, "mean_squared_error")
  File "C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\lightgbm\sklearn.py", line 822, in fit
    categorical_feature=categorical_feature, callbacks=callbacks, init_model=init_model)
  File "C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\lightgbm\sklearn.py", line 688, in fit
    callbacks=callbacks, init_model=init_model)
  File "C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\lightgbm\engine.py", line 264, in train
    evaluation_result_list=evaluation_result_list))
  File "C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\optuna\integration\lightgbm.py", line 119, in __call__
    target_valid_name, self._metric, str(env.evaluation_result_list)
ValueError: The entry associated with the validation name "valid_0" and the metric name "mean_squared_error" is not found in the evaluation result list [('valid_0', 'l2', 7.795062039962737, False)].

[LightGBM] [Warning] feature_fraction is set=0.6000000000000001, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6000000000000001
[LightGBM] [Warning] min_data_in_leaf is set=8500, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=8500
[LightGBM] [Warning] min_gain_to_split is set=2.7597159690017565, min_split_gain=0.0 will be ignored. Current value: min_gain_to_split=2.7597159690017565
[LightGBM] [Warning] lambda_l1 is set=60, reg_alpha=0.0 will be ignored. Current value: lambda_l1=60
[LightGBM] [Warning] bagging_fraction is set=0.30000000000000004, subsample=1.0 will be ignored. Current value: bagging_fraction=0.30000000000000004
[LightGBM] [Warning] lambda_l2 is set=55, reg_lambda=0.0 will be ignored. Current value: lambda_l2=55
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1

ValueError: The entry associated with the validation name "valid_0" and the metric name "mean_squared_error" is not found in the evaluation result list [('valid_0', 'l2', 7.795062039962737, False)].

In [35]:
X = df.drop(["name","event_points"], axis = 1)
y = df["event_points"]
# Define DV and IVs:

In [40]:
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=1121218)

cv_scores = np.empty(5)

for idx, (train_idx, test_idx) in enumerate(cv.split(X, y)):
    # Define DV and IVs:
    X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
    y_train, y_test = y[train_idx], y[test_idx]

C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\model_selection\_split.py:668: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

In [39]:
y_test

14       0
16       7
17       0
25       3
35       0
        ..
27361    0
27365    0
27377    0
27383    0
27384    0
Name: event_points, Length: 5479, dtype: int64

In [10]:
X

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [4]:
model1 = run_model_training("2020-21")

test data version 0.1 stable
Starting training...
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000354 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.

C:\Users\magnu\AppData\Local\Programs\Python\Python37\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  _log_warning("Found `{}` in params. Will use it instead of argument".format(alias))

[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[1]	valid_0's l1: 1.56714	valid_0's l2: 5.68692
Training until validation scores don't improve for 100 rounds
[2]	valid_0's l1: 1.49591	valid_0's l2: 5.18569
[3]	valid_0's l1: 1.42837	valid_0's l2: 4.73426
[4]	valid_0's l1: 1.36454	valid_0's l2: 4.32667
[5]	valid_0's l1: 1.30426	valid_0's l2: 3.95834
[6]	valid_0's l1: 1.24744	valid_0's l2: 3.62628
[7]	valid_0's l1: 1.19356	valid_0's l2: 3.32498
[8]	valid_0's l1: 1.14274	valid_0's l2: 3.05417
[9]	valid_0's l1: 1.09474	valid_0's l2: 2.80943
[10]	valid_0's l1: 1.04905	valid_0's l2: 2.58893
[11]	valid_0's l1: 1.00617	valid_0's l2: 2.38988
[12]	valid_0's l1: 0.96569	valid_0's l2: 2.20939
[13]	valid_0's l1: 0.927108	valid_0's l2: 2.04593
[14]	valid_0's l1: 0.890763	valid_0's l2: 1.89889
[15]	valid_0's l1: 0.856644	valid_0's l2: 1.76578
[16]	valid_0's l1: 0.824455	valid_0's l2: 1.64528
[17]	valid_0's l1: 0.794187	valid_0's l2: 1.53734
[18]	valid_0's l1: 0.765391	valid_0's l2: 1.43965
[19]	valid_0's l1: 0.737843	valid_0's l2: 1.3505
[20]	valid_0's l1: 0.711843	valid_0's l2: 1.27021
[21]	valid_0's l1: 0.688248	valid_0's l2: 1.19856
[22]	valid_0's l1: 0.665341	valid_0's l2: 1.13292
[23]	valid_0's l1: 0.643997	valid_0's l2: 1.07447
[24]	valid_0's l1: 0.624228	valid_0's l2: 1.02174
[25]	valid_0's l1: 0.605318	valid_0's l2: 0.97451
[26]	valid_0's l1: 0.587797	valid_0's l2: 0.930462
[27]	valid_0's l1: 0.571476	valid_0's l2: 0.891328
[28]	valid_0's l1: 0.555744	valid_0's l2: 0.856035
[29]	valid_0's l1: 0.541464	valid_0's l2: 0.824633
[30]	valid_0's l1: 0.528164	valid_0's l2: 0.796424
[31]	valid_0's l1: 0.515108	valid_0's l2: 0.770684
[32]	valid_0's l1: 0.503191	valid_0's l2: 0.747495
[33]	valid_0's l1: 0.491713	valid_0's l2: 0.726473
[34]	valid_0's l1: 0.480591	valid_0's l2: 0.706671
[35]	valid_0's l1: 0.470234	valid_0's l2: 0.689131
[36]	valid_0's l1: 0.461063	valid_0's l2: 0.674461
[37]	valid_0's l1: 0.451738	valid_0's l2: 0.660044
[38]	valid_0's l1: 0.443061	valid_0's l2: 0.647194
[39]	valid_0's l1: 0.435465	valid_0's l2: 0.635919
[40]	valid_0's l1: 0.428362	valid_0's l2: 0.625625
[41]	valid_0's l1: 0.420979	valid_0's l2: 0.615674
[42]	valid_0's l1: 0.414206	valid_0's l2: 0.606828
[43]	valid_0's l1: 0.408205	valid_0's l2: 0.598868
[44]	valid_0's l1: 0.402655	valid_0's l2: 0.59188
[45]	valid_0's l1: 0.39743	valid_0's l2: 0.585445
[46]	valid_0's l1: 0.392437	valid_0's l2: 0.579273
[47]	valid_0's l1: 0.387634	valid_0's l2: 0.573822
[48]	valid_0's l1: 0.383145	valid_0's l2: 0.568648
[49]	valid_0's l1: 0.379092	valid_0's l2: 0.564352
[50]	valid_0's l1: 0.375468	valid_0's l2: 0.560611
[51]	valid_0's l1: 0.371732	valid_0's l2: 0.556755
[52]	valid_0's l1: 0.368336	valid_0's l2: 0.553455
[53]	valid_0's l1: 0.364926	valid_0's l2: 0.550156
[54]	valid_0's l1: 0.361943	valid_0's l2: 0.547303
[55]	valid_0's l1: 0.358833	valid_0's l2: 0.544345
[56]	valid_0's l1: 0.356158	valid_0's l2: 0.542033
[57]	valid_0's l1: 0.353625	valid_0's l2: 0.539556
[58]	valid_0's l1: 0.351263	valid_0's l2: 0.537567
[59]	valid_0's l1: 0.348973	valid_0's l2: 0.535736
[60]	valid_0's l1: 0.34695	valid_0's l2: 0.533704
[61]	valid_0's l1: 0.344765	valid_0's l2: 0.532005
[62]	valid_0's l1: 0.342834	valid_0's l2: 0.530006
[63]	valid_0's l1: 0.341073	valid_0's l2: 0.528181
[64]	valid_0's l1: 0.339481	valid_0's l2: 0.526701
[65]	valid_0's l1: 0.337868	valid_0's l2: 0.525339
[66]	valid_0's l1: 0.336203	valid_0's l2: 0.524062
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[67]	valid_0's l1: 0.33458	valid_0's l2: 0.522966
[68]	valid_0's l1: 0.333232	valid_0's l2: 0.5218
[69]	valid_0's l1: 0.33184	valid_0's l2: 0.521051
[70]	valid_0's l1: 0.330396	valid_0's l2: 0.51982
[71]	valid_0's l1: 0.32912	valid_0's l2: 0.51901
[72]	valid_0's l1: 0.328228	valid_0's l2: 0.518365
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[73]	valid_0's l1: 0.326961	valid_0's l2: 0.517689
[74]	valid_0's l1: 0.325965	valid_0's l2: 0.516723
[75]	valid_0's l1: 0.325074	valid_0's l2: 0.516161
[76]	valid_0's l1: 0.323881	valid_0's l2: 0.515271
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[77]	valid_0's l1: 0.322867	valid_0's l2: 0.514694
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[78]	valid_0's l1: 0.322155	valid_0's l2: 0.513904
[79]	valid_0's l1: 0.321351	valid_0's l2: 0.513712
[80]	valid_0's l1: 0.320623	valid_0's l2: 0.513192
[81]	valid_0's l1: 0.31997	valid_0's l2: 0.512666
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[82]	valid_0's l1: 0.319413	valid_0's l2: 0.512295
[83]	valid_0's l1: 0.318643	valid_0's l2: 0.512103
[84]	valid_0's l1: 0.318085	valid_0's l2: 0.511611
[85]	valid_0's l1: 0.317349	valid_0's l2: 0.511042
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[86]	valid_0's l1: 0.316988	valid_0's l2: 0.510734
[87]	valid_0's l1: 0.316266	valid_0's l2: 0.510416
[88]	valid_0's l1: 0.315877	valid_0's l2: 0.510052
[89]	valid_0's l1: 0.315628	valid_0's l2: 0.509923
[90]	valid_0's l1: 0.315315	valid_0's l2: 0.509172
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[91]	valid_0's l1: 0.314972	valid_0's l2: 0.508928
[92]	valid_0's l1: 0.314475	valid_0's l2: 0.508511
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[93]	valid_0's l1: 0.314256	valid_0's l2: 0.508454
[94]	valid_0's l1: 0.313967	valid_0's l2: 0.507806
[95]	valid_0's l1: 0.313825	valid_0's l2: 0.507934
[96]	valid_0's l1: 0.313538	valid_0's l2: 0.507664
[97]	valid_0's l1: 0.31321	valid_0's l2: 0.507421
[98]	valid_0's l1: 0.313028	valid_0's l2: 0.507117
[99]	valid_0's l1: 0.312697	valid_0's l2: 0.506556
[100]	valid_0's l1: 0.312379	valid_0's l2: 0.506072
Did not meet early stopping. Best iteration is:
[100]	valid_0's l1: 0.312379	valid_0's l2: 0.506072
Saving model...
Starting predicting...
The RMSE of prediction is: 0.7113876765502022

In [3]:
player_ids = (5,2,3)
seasons = get_season_history(player_id=player_ids)

Appended season history for player_id: 5
Appended season history for player_id: 2
Appended season history for player_id: 3

In [7]:
with open(os.path.join(wdPATH, "..", "data_files", "2020-21", "gws", "merged_gw.csv")) as file:
    player_gw = pd.read_csv(file)

In [8]:
player_gw[["team"]]

                team
0           Brighton
1           West Ham
2           Brighton
3      Sheffield Utd
4            Everton
...              ...
24360  Sheffield Utd
24361      Leicester
24362      Leicester
24363          Leeds
24364          Leeds

[24365 rows x 1 columns]

In [22]:
df = create_training_data("2020-21")

test data version 0.1 stable

In [9]:
df["event_points"]

0        1
1        1
2        0
3        1
4        3
        ..
27390    9
27391    0
27392    0
27393    6
27394    5
Name: event_points, Length: 27395, dtype: int64

In [9]:
len(df[0])

592

In [8]:
season = df[1]

In [10]:
print(season.columns)

Index(['season_name', 'element_code', 'start_cost', 'end_cost', 'total_points',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index'],
      dtype='object')

In [5]:
data = get_data()

In [24]:
current_players = data[0]
# Player form + ability:
variables_to_keep = ['id', 'team', 'team_code', 'ict_index', 'bps', 'minutes', 'points_per_game', 'form', 'now_cost'] # should be able to change this in a config file
current_players = current_players[variables_to_keep]

In [30]:
teams = data[1]

In [6]:
import os
path = os.getcwd()

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\Users\\magnu\\OneDrive - Norges Handelshøyskole\\Personlig\\python_projects\\fantasyAI\\notebooks\\..\\data_files\\2020-21\\understat\\fixtures.csv'

In [4]:
type(os.path.join(path, "data_files", "master_team_list.csv"))

NameError: name 'path' is not defined

In [13]:
from data import transform_id_to_team

In [19]:
data = transform_id_to_team("2020-21")

In [20]:
data

    team_id       team_name
80        1         Arsenal
81        2     Aston Villa
82        3        Brighton
83        4         Burnley
84        5         Chelsea
85        6  Crystal Palace
86        7         Everton
87        8          Fulham
88        9       Leicester
89       10           Leeds
90       11       Liverpool
91       12        Man City
92       13         Man Utd
93       14       Newcastle
94       15   Sheffield Utd
95       16     Southampton
96       17           Spurs
97       18       West Brom
98       19        West Ham
99       20          Wolves

In [5]:
wdPATH = os.getcwd()

with open(os.path.join(wdPATH, "..", "data_files", "2020-21", "gws", "merged_gw.csv")) as file:
    gw1 = pd.read_csv(file)

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'round', 'saves', 'selected', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards',
       'GW'],
      dtype='object')

In [17]:
gw1["round"]

0         1
1         1
2         1
3         1
4         1
         ..
24360    38
24361    38
24362    38
24363    38
24364    38
Name: round, Length: 24365, dtype: int64

In [7]:
gw1[["total_points"]].describe()

       total_points
count  24365.000000
mean       1.290704
std        2.472389
min       -7.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       24.000000

In [7]:
with open(os.path.join(wdPATH, "..", "data_files", "2020-21", "fixtures.csv")) as file:
    fixture_df = pd.read_csv(file)

In [29]:
fixture_df.loc[fixture_df["event"] == "1"]

Empty DataFrame
Columns: [code, event, finished, finished_provisional, id, kickoff_time, minutes, provisional_start_time, started, team_a, team_a_score, team_h, team_h_score, stats, team_h_difficulty, team_a_difficulty, pulse_id]
Index: []

In [30]:
fixture_df

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,True,1,3,8,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,58898
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,True,16,0,6,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,58897
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,True,10,3,11,4,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,58899
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,True,14,2,19,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,58903
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,True,9,3,18,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,58902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2128661,38,True,True,374,2021-05-23T15:00:00Z,90,False,True,6,0,11,2,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,59271
376,2128662,38,True,True,375,2021-05-23T15:00:00Z,90,False,True,7,0,12,5,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",4,5,59272
377,2128663,38,True,True,376,2021-05-23T15:00:00Z,90,False,True,4,0,15,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,59273
378,2128664,38,True,True,377,2021-05-23T15:00:00Z,90,False,True,16,0,19,3,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,59274
379,2128665,38,True,True,378,2021-05-23T15:00:00Z,90,False,True,13,2,20,1,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,3,59275

In [33]:
gw1[["round"]]

       round
0          1
1          1
2          1
3          1
4          1
...      ...
24360     38
24361     38
24362     38
24363     38
24364     38

[24365 rows x 1 columns]

In [26]:
with open(os.path.join(wdPATH, "..", "data_files", "2019-20", "gws", "merged_gw.csv")) as file:
    gw1920 = pd.read_csv(file)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 34356: character maps to <undefined>

In [17]:
import glob

TypeError: 'str' object is not callable

In [ ]:
df

In [12]:
print(gw1.columns)

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards'],
      dtype='object')

In [7]:
data.loc[data["season"] == "2016-17"]

     season  team       team_name
0   2016-17     1         Arsenal
1   2016-17     2     Bournemouth
2   2016-17     3         Burnley
3   2016-17     4         Chelsea
4   2016-17     5  Crystal Palace
5   2016-17     6         Everton
6   2016-17     7            Hull
7   2016-17     8       Leicester
8   2016-17     9       Liverpool
9   2016-17    10        Man City
10  2016-17    11         Man Utd
11  2016-17    12   Middlesbrough
12  2016-17    13     Southampton
13  2016-17    14           Stoke
14  2016-17    15      Sunderland
15  2016-17    16         Swansea
16  2016-17    17           Spurs
17  2016-17    18         Watford
18  2016-17    19       West Brom
19  2016-17    20        West Ham

In [5]:
transform_id_to_team("2016-17")

FileNotFoundError: [Errno 2] No such file or directory: 'c:/data_files\\master_team_list.csv'

In [10]:
path = os.getcwd()
df = pd.read_csv("C:/Users/magnu/OneDrive - Norges Handelshøyskole/Personlig/python_projects/fantasyAI/data_files/master_team_list.csv")

In [11]:
df =

     season  team       team_name
0   2016-17     1         Arsenal
1   2016-17     2     Bournemouth
2   2016-17     3         Burnley
3   2016-17     4         Chelsea
4   2016-17     5  Crystal Palace
..      ...   ...             ...
95  2020-21    16     Southampton
96  2020-21    17           Spurs
97  2020-21    18       West Brom
98  2020-21    19        West Ham
99  2020-21    20          Wolves

[100 rows x 3 columns]

In [33]:
teams

    id            name
0    1         Arsenal
1    2     Aston Villa
2    3       Brentford
3    4        Brighton
4    5         Burnley
5    6         Chelsea
6    7  Crystal Palace
7    8         Everton
8    9       Leicester
9   10           Leeds
10  11       Liverpool
11  12        Man City
12  13         Man Utd
13  14       Newcastle
14  15         Norwich
15  16     Southampton
16  17           Spurs
17  18         Watford
18  19        West Ham
19  20          Wolves

In [21]:
current_players.sort_values(by=['ict_index'], ascending=False)

      id  team ict_index  bps  minutes points_per_game form  now_cost
254  207     9       9.9   59      190             5.0  5.0        55
45    38     2       9.9   59      180             7.5  5.0        50
75    84     3       9.8   37      264             2.3  2.3        50
419  319    15       9.8   44      270             0.7  0.7        45
157  119     6       9.8   66      246             4.7  4.7        60
..   ...   ...       ...  ...      ...             ...  ...       ...
261  214     9       0.0    0        0             0.0  0.0        45
253  206     9       0.0    0        0             0.0  0.0        49
251  204     9       0.0    0        0             0.0  0.0        40
250  203     9       0.0    0        0             0.0  0.0        44
591  583    20       0.0    0        0             0.0  0.0        55

[592 rows x 8 columns]

In [17]:
player_ids

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 67,
 466,
 478,
 530,
 531,
 532,
 558,
 559,
 572,
 590,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 283,
 337,
 492,
 496,
 497,
 526,
 568,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 479,
 483,
 498,
 499,
 524,
 556,
 569,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 447,
 462,
 476,
 500,
 535,
 536,
 537,
 538,
 560,
 584,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 451,
 480,
 533,
 534,
 565,
 575,
 578,
 585,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 501,
 527,
 529,
 539,
 592,
 144,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 386,
 464,
 474,
 477,
 488,
 493,
 540,
 541,
 542,
 543,
 561,
 586,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 481,
 482,
 484,
 502,
 503,
 504,
 544,
 545,
 564,
 570,
 571,
 591,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 340,
 455,
 458,
 473,
 505,
 573,
 587,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 267,
 287,
 463,
 490,
 550,
 551,
 552,
 562,
 563,
 576,
 577,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 506,
 553,
 33,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 268,
 453,
 507,
 508,
 566,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 284,
 285,
 286,
 288,
 289,
 459,
 485,
 509,
 510,
 511,
 512,
 555,
 579,
 19,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 465,
 513,
 514,
 145,
 290,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 448,
 449,
 456,
 457,
 471,
 515,
 516,
 528,
 580,
 581,
 332,
 333,
 334,
 335,
 336,
 338,
 339,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 460,
 491,
 517,
 518,
 519,
 525,
 546,
 567,
 352,
 353,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 486,
 487,
 494,
 520,
 588,
 354,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 450,
 454,
 467,
 468,
 469,
 472,
 495,
 557,
 574,
 128,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 489,
 521,
 522,
 554,
 582,
 589,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 452,
 461,
 470,
 475,
 523,
 547,
 548,
 549,
 583]

In [19]:
fixture_df = data[3]
    # Get upcoming gameweek:
current_gw = fixture_df.loc[fixture_df["finished"] == True]
current_gw = current_gw.sort_values(by = ["event"], ascending=False)
current_gw = current_gw.iloc[0][1]

In [24]:
upcoming_gw = current_gw + 1

In [25]:
fixture_df = fixture_df.loc[fixture_df['event'] == upcoming_gw]

In [41]:
fixture_df = data[3].loc[data[3]['event'] == upcoming_gw]

In [34]:
fixture_df

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
30,2210304,4,False,False,34,2021-09-11T11:30:00Z,0,False,False,17,NaN,7,NaN,[],3,2,66375
31,2210301,4,False,False,31,2021-09-11T14:00:00Z,0,False,False,15,NaN,1,NaN,[],2,3,66372
32,2210302,4,False,False,32,2021-09-11T14:00:00Z,0,False,False,4,NaN,3,NaN,[],2,2,66373
33,2210307,4,False,False,37,2021-09-11T14:00:00Z,0,False,False,12,NaN,9,NaN,[],4,3,66378
34,2210308,4,False,False,38,2021-09-11T14:00:00Z,0,False,False,14,NaN,13,NaN,[],2,4,66379
35,2210309,4,False,False,39,2021-09-11T14:00:00Z,0,False,False,19,NaN,16,NaN,[],3,2,66380
36,2210310,4,False,False,40,2021-09-11T14:00:00Z,0,False,False,20,NaN,18,NaN,[],2,2,66381
37,2210303,4,False,False,33,2021-09-11T16:30:00Z,0,False,False,2,NaN,6,NaN,[],2,4,66374
38,2210306,4,False,False,36,2021-09-12T15:30:00Z,0,False,False,11,NaN,10,NaN,[],4,3,66377
39,2210305,4,False,False,35,2021-09-13T19:00:00Z,0,False,False,5,NaN,8,NaN,[],2,3,66376

In [42]:
fixture_df = fixture_df[["team_a", "team_h", "team_h_difficulty", "team_a_difficulty"]]

In [43]:
fixture_df

    team_a  team_h  team_h_difficulty  team_a_difficulty
30      17       7                  3                  2
31      15       1                  2                  3
32       4       3                  2                  2
33      12       9                  4                  3
34      14      13                  2                  4
35      19      16                  3                  2
36      20      18                  2                  2
37       2       6                  2                  4
38      11      10                  4                  3
39       5       8                  2                  3

In [48]:
fixture_a = fixture_df[["team_a", "team_a_difficulty"]]
fixture_a = fixture_a.rename(columns={'team_a': 'team', 'team_a_difficulty': 'fdr'})
fixture_h = fixture_df[["team_h", "team_h_difficulty"]]
fixture_h = fixture_h.rename(columns={'team_h': 'team', 'team_h_difficulty': 'fdr'})

In [49]:
fixture_difficulty = fixture_a.append(fixture_h)

In [50]:
fixture_difficulty

    team  fdr
30    17    2
31    15    3
32     4    2
33    12    3
34    14    4
35    19    2
36    20    2
37     2    4
38    11    3
39     5    3
30     7    3
31     1    2
32     3    2
33     9    4
34    13    2
35    16    3
36    18    2
37     6    2
38    10    4
39     8    2

In [52]:
main_df = pd.merge(current_players, fixture_difficulty, how="left", on='team')

In [56]:
main_df

      id  team ict_index  bps  minutes points_per_game form  now_cost  fdr
0      1     1       7.9   48      270             1.3  1.3        49    2
1      2     1       0.0    0        0             0.0  0.0        40    2
2      3     1       0.0    0        0             0.0  0.0        63    2
3      4     1       2.6    5       87             1.0  0.7        99    2
4      5     1       4.3   16      180             0.0  0.0        44    2
..   ...   ...       ...  ...      ...             ...  ...       ...  ...
587  523    20       0.0    0        0             0.0  0.0        50    2
588  547    20       0.0    0        0             0.0  0.0        45    2
589  548    20       0.0    0        0             0.0  0.0        45    2
590  549    20       0.0    0        0             0.0  0.0        40    2
591  583    20       0.0    0        0             0.0  0.0        55    2

[592 rows x 9 columns]

In [38]:
fixture_difficulty

   team_a           variable  value
0      17  team_a_difficulty      2
1      15  team_a_difficulty      3
2       4  team_a_difficulty      2
3      12  team_a_difficulty      3
4      14  team_a_difficulty      4
5      19  team_a_difficulty      2
6      20  team_a_difficulty      2
7       2  team_a_difficulty      4
8      11  team_a_difficulty      3
9       5  team_a_difficulty      3

In [10]:
from data import get_full_gw_hist

In [4]:
current_players

NameError: name 'current_players' is not defined

In [9]:
gw_hist = get_full_gw_hist(current_players)

100%|██████████| 592/592 [00:50<00:00, 11.80it/s]

KeyError: "['singular_name_short', 'web_name'] not in index"